:root {
  --color-font: #282c34;

  --color-black: #20232A;

  --color-transparent-dark-1: rgba(40, 44, 52, 0.1);
  --color-transparent-dark-2: rgba(40, 44, 52, 0.2);
  --color-transparent-dark-3: rgba(40, 44, 52, 0.3);
  --color-transparent-dark-5: rgba(40, 44, 52, 0.5);

  --color-react: #61dafb;

  --box-shadow: 0px 1px 5px rgba(40, 44, 52, 0.2);
}
